select{
    background-color: #fff;
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px !important;
  }