<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget single-bg">
                    <a href="#" class="logo">
                        <%= image_tag "logo.png", alt: "Image" %>
                    </a>

                    <p>OakTreeCrew is a software development firm known for developing business solutions for small to large scale businesses. Headquartered in India, four enthusiastic and young minds have started it in 2016 from Indore. We are serving clients globally</p>

                    <ul class="social-icon">
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact</h3>

                    <ul class="address">
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <span>Phone:</span>
                            <a href="tel:+1-(514)-7939-357">+91 0731 499 1873</a>
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <span>Email:</span>
                            <a href="mailto:hello@oaktreecrew.com">info@oaktreescrew.com</a>
                        </li>
                        <li class="location">
                            <i class="bx bx-location-plus"></i>
                            <span>Address:</span>
                            Shekhar central, 8th, floor, 802, Palasia Square, Manorama Ganj, Indore, Madhya Pradesh 452001
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Helpful Resources</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">Create Account</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#">Privacy Centre</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Job Seekers</h3>

                    <ul class="import-link">
                        <li>
                            <a href="#">Create Account</a>
                        </li>
                        <li>
                            <a href="#">Browse Jobs</a>
                        </li>
                        <li>
                            <a href="#">Upload CV</a>
                        </li>
                        <li>
                            <a href="#">Company Profile</a>
                        </li>
                        <li>
                            <a href="#">International Jobs</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->
  <!-- Start Copy Right Area -->
    <div class="copy-right-area">
        <div class="container">
            <p>
                © 2020 Oak Tree Crew. All Rights Reserved.
            </p>
        </div>
    </div>
    <!-- End Copy Right Area -->
    
    <!-- Start Go Top Area -->
    <div class="go-top active">
        <i class="bx bx-chevrons-up"></i>
        <i class="bx bx-chevrons-up"></i>
    </div>
    <!-- End Go Top Area -->