<!-- Start Header Area -->
    <header class="header-area">
        
        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="mobile-nav">
                <div class="container">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="#">
                             <%= image_tag "logo.png", alt: "logo" %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desktop-nav p-3">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <%= image_tag "logo.png", alt: "logo" %>

                        </a>

                        <div class="collapse navbar-collapse mean-menu" style="display: block;">
                            
                            <div class="others-option ml-auto d-flex align-items-center">
                            <div class="mr-3">
                            <div class="dropdown">
                            <button onclick="myFunction()" class="default-btn px-3"><a href="/notifications"><i class="fa fa-bell text-white"></i></a>
                            <span class="notification_tag">
                              <%= Notification.where(read: false, reciver_id: current_user.id).count %>
                            </span> 
                          </button>                          
                          </div>
                        
                            </div>
                                <div class="get-quote">
                                
                                <%= button_to "Log Out", destroy_user_session_path, :method => :delete, class: "default-btn", id: "logout-button" %>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->


  <style>
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .notification_tag{
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: red;
    padding: 2px 2px;
    font-size: 11px;
    border-radius: 50%;
    min-width: 15px;
  }
  </style>

    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>