<div class="dropdown w-100", id="secondary_skill">
    <button class="form-control dropdown-toggle dropdown-list-after btn-design text-left" id="s2" type="button" data-toggle="dropdown">Select
    </button>
    <ul class="dropdown-menu w-100 custom-scroller" id="u2">
    <input type="text" class="search_field form-control" placeholder="Search.." onclick="event.stopPropagation()" onkeyup="second_skill()"/>
    <br><button type="button" data-toggle="modal" data-target="#addSkillsecond" class="badge mx-2 p-2 btn-large default-btn" >Add Skill +</button>
    <% @secondary_skill.each do |item| %>
    <li id="<%= item.name %>" , onclick="checkbox_click_two()">
        <label class="custom_checkbox_label d-block px-2">
        <%= f.check_box :secondary_skill, { multiple: true }, item.name, nil%>
        <span> <%= item.name %></span>
        </label>
    <% end %>
    </ul>
    </div>
</div>

<script>
   function second_skill(){
    $(".search_field").on('keyup', function(e){
                sear_val = $(this).val().toLocaleLowerCase().trim();
                
                id = e.currentTarget.parentElement.parentElement.parentElement.id
                
                id = id != "" ? id : e.currentTarget.parentElement.parentElement.id
                let checkids = ["primary_skill" , "secondary_skill"]
                if(checkids.includes(id)){
                    console.log($("#" + id + " ul li")[0].id    , "filter");
                    $("#" + id + " ul li").filter(function() {
                        console.log($(this)[0].id , "this" );
                    $(this).toggle($(this)[0].id.trim().toLowerCase().indexOf(sear_val.trim().toLowerCase()) > -1);
                    // $(this).parent().toggle();

                });
                }
                else{
                    
                $("#" + id + " ul li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(sear_val) > -1);
                });
                }
            })
   }


               function checkbox_click_two(){   
                const check_array = []
                nodes = $("#u2 li")
                $('#s2')[0].innerText = ""
                for (var i in nodes){
                if(nodes[i].localName == 'li'){
                        if(nodes[i].childNodes[1].childNodes[1].checked == true){
                            check_array.push(nodes[i].id)
                        }
                    }
                }
                $('#s2')[0].innerText = check_array.join(" , ")
          
               }
    </script>