   
    <div class="dropdown w-100", id="primary_skill">
        <button class="form-control dropdown-toggle dropdown-list-after btn-design text-left " id="s1" type="button" data-toggle="dropdown">Select
        </button>                                   
        <ul class="dropdown-menu w-100 custom-scroller" id="u1" >
            <input type="text" class="search_field form-control" placeholder="Search.." onclick="event.stopPropagation()" onkeyup="myfunction()"/>
            <% if @skill_list.present? %>
                <% @skill_list.each do |item| %>
                    <li id="<%= item.name %>", onclick="checkbox_click()">
                        <label  class="custom_checkbox_label d-block px-2">
                            <%= f.check_box :profile_array, { multiple: true }, item.name, nil %>
                            <span> <%= item.name %></span>
                        </label>
                    </li>
                <% end %>
                <% end %>
        </ul>
    </div>


    <script>
        function myfunction(){
        $(".search_field").on('keyup', function(e){
            sear_val = $(this).val().toLocaleLowerCase().trim();
            
            id = e.currentTarget.parentElement.parentElement.parentElement.id
            id = id != "" ? id : e.currentTarget.parentElement.parentElement.id

            let checkids = ["primary_skill" , "secondary_skill"]
            if(checkids.includes(id)){
                console.log($("#" + id + " ul li")[0].id    , "filter");
                $("#" + id + " ul li").filter(function() {
                    console.log($(this)[0].id , "this" );
                $(this).toggle($(this)[0].id.trim().toLowerCase().indexOf(sear_val.trim().toLowerCase()) > -1);

            });
            }
            else{
                
            $("#" + id + " ul li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(sear_val) > -1);
            });
            }
        })
        }


        function checkbox_click(){   
        const check_array = []
        nodes = $("#u1 li")
        $('#s1')[0].innerText = ""
        for (var i in nodes){
        if(nodes[i].localName == 'li'){
                if(nodes[i].childNodes[1].childNodes[1].checked == true){
                    check_array.push(nodes[i].id)
                }
            }
        }
        $('#s1')[0].innerText = check_array.join(" , ")
    
        }
</script>

<style>
    .btn-design{
    width: 100%;
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: 0px 5px 20px 3px rgb(230 233 249 / 90%);
    box-shadow: 0px 5px 20px 3px rgb(230 233 249 / 90%);
    border: 1px solid #ebebeb;
    padding-left: 20px px;
    padding-right: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
</style>